@import "style/reset.css";
@import "style/font.css";
@import "style/status-bar.css";
@import "style/page.css";
@import "style/animation.css";



.login-header {
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-header__title {
    margin-bottom: 5%;
}

.login-form {
    width: 90%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40%;
}

.login-form input{
    width: 70%;
    border: none;
    border-bottom: 1px solid #a0a0a0;
    padding: 5% 5%;
}

.login-form input:nth-child(2) {
    margin-bottom: 5.5%;
}


.login-form input[type="submit button"] {
    background-color: #1b1b1b;
    color: white;
    text-align: center;
}


.login-form__signup__text {
    color: #1b1b1b;
    opacity: 0.5;
}

