.badge {
    background-color: tomato;
    width: 15px;
    height: 15px;
    font-size: 8px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
  }


.user-component__time + .badge {
    position: relative;
    right: -18px;
    top: 4px;
}