@import "reset.css";


body {
    font-family: "roboto";
    font-size: 13px;
}

.status-bar {
    display: flex;
    justify-content: center;
    margin: 3px 0px;
}

.status-bar__column {
    width: 33%;
}

.status-bar__column:nth-child(1) span {
    margin-right: 5px;
    margin-left: 2px;
}

.status-bar__column:nth-child(2) {
    display: flex;
    justify-content: center;
}

.status-bar__column:nth-child(3) {
    display: flex;
    justify-content: flex-end;
}

.status-bar__column:nth-child(3) span {
    display: flex;
    justify-content: flex-end;
    margin-right: 2px;
}

.fa-bolt {
    margin: 0px 3px;
}

.welcome-header {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    text-align: center;
}

.welcome-header__title {
    font-weight: bold;
    font-size: 15px;
}

.welcome-header__text {
    margin: 20px 0px;
    font-size: 12px;
    opacity: 85%;
}

.login-form {
    display: flex;
    flex-direction: column;
}
