*{
    box-sizing: border-box;
}

html {
    font-family: Arial;
    background-color: floralwhite;
}


body {
    width: 100%;
    margin: 10vh;
    background-color:white;
    max-width:375px;
    height:800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
}

main {
    width: 100%;
}

header {
    width: 100%;
    padding: 20px 30px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.thumbnail-image {
    margin-top: 60px;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.30), 0 10px 10px rgba(0,0,0,0.20);
}

.thumbnail-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.thumbnail-data__title {
    font-size: 20px;
    font-weight: 600;
}

.thumbnail-data__artist {
    margin-top: 10px;
    font-weight: 500;
    opacity: 0.5;
}

.playline {
    padding: 0px 50px;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;

}

.playline-text {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    opacity: 0.5;
    font-weight: 400;
}

.playline-line__container {
    display: flex;
    align-items: center;
}


.playline-line__left {
    margin-top:10px;
    width: 60%;
    height: 4px;
    background-color: #1b1b1b;
    border-radius: 2px;
}


.playline-line__dot {
    margin-top:10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #1b1b1b;
}

.playline-line__right {
    margin-top:10px;
    width:40%;
    height: 4px;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.20);
}

.playback-large {
    margin-top: 80px;
    display: flex;
    padding: 10px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}


.playback-large > i:nth-child(1){
    opacity: 0.5;
}

.playback-large > i:nth-child(5){
    opacity: 0.5;
}


.playback-large .fa-play{
    font-size: 20px;
    color: white;
}

.playback-large__play {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #1b1b1b;
    box-shadow: 0 14px 28px rgba(0,0,0,0.10), 0 10px 10px rgba(0,0,0,0.10);
}