.status-bar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2%;
}

.status-bar__column {
    width: 32%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status-bar__column:nth-child(1)  {
    display: flex;
    justify-content: flex-start;
}

.status-bar__column:nth-child(1) i {
    padding-left: 5%;
}

.status-bar__column:nth-child(3) {
    display: flex;
    justify-content: flex-end;
}

.status-bar__column:nth-child(3) i {
    margin-left: 4%;
}


