@tailwind base;
@tailwind components;
@tailwind utilities;

.search-box{
    transition: box-shadow 0.2s linear;
}


.nav_link{
    @apply flex items-center justify-center border-white hover:border-gray-600 w-1/4 h-full md:mr-4 md:border-b-2;
    a {
        @apply py-4 text-center; 
    }
}

.btn{
    @apply w-full flex items-center justify-center border font-light mb-2 rounded-md p-3;
}

input{
    @apply w-full flex items-center justify-center border font-light mb-2 rounded-md p-3 text-left placeholder-gray-400 focus:outline-none focus:border-black;
    #id_instant_book{
        display: inline;
    }
}

input,
textarea{
    @apply w-full flex items-center justify-center border font-light mb-2 rounded-md p-3 text-left placeholder-gray-400 focus:outline-none focus:border-black;
    resize: none;
}

select {
    @apply w-full border font-light mb-2 rounded-md h-10;
}

form{
    .input{
     @apply mb-2 w-full;
     &.has_error{
         input {
             @apply border-red-500 mb-px;
         }
     }
    }
}


@keyframes messageFadeIn {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    5%{
        opacity: 1;
        transform: translateY(50px);
    }
    95%{
        opacity: 1;
        transform: translateY(50px);
    }
    100%{
        opacity: 0;
        transform: translateY(50px);
    }
}



.message{
    animation: messageFadeIn 5s ease-in-out forwards;
    &.error{
        @apply bg-red-600;
    }
    &.info{
        @apply bg-blue-500;
    }
    &.success{
        @apply bg-green-500;
    }
    &.warning{
        @apply bg-yellow-400;
    }
}


.border-section {
    @apply border-b border-gray-400 pb-5 mt-4 mb-2;
}



.cal-grid{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 2px;
    justify-items: center;
}