@tailwind base;
@tailwind components;
@tailwind utilities;

.search-box{
    transition: box-shadow 0.2s linear;
}


.nav_link{
    @apply border-b-2 flex items-center border-white hover:border-gray-600 h-full;
    a {
        @apply py-8 px-3; 
    }
}

.btn{
    @apply w-full flex items-center justify-center border font-light mb-2 rounded-md p-3;
}

input{
    @apply w-full flex items-center justify-center border font-light mb-2 rounded-md p-3 text-left placeholder-gray-400 focus:outline-none focus:border-black;
}

input,
textarea{
    @apply w-full flex items-center justify-center border font-light mb-2 rounded-md p-3 text-left placeholder-gray-400 focus:outline-none focus:border-black;
    resize: none;
}

select {
    height: 30px;

}


form{
    .input{
     @apply mb-2;
     &.has_error{
         input {
             @apply border-red-500 mb-px;
         }
     }
    }
}


@keyframes messageFadeIn {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    5%{
        opacity: 1;
        transform: translateY(50px);
    }
    95%{
        opacity: 1;
        transform: translateY(50px);
    }
    100%{
        opacity: 0;
        transform: translateY(50px);
    }
}



.message{
    animation: messageFadeIn 5s ease-in-out forwards;
    &.error{
        @apply bg-red-600;
    }
    &.info{
        @apply bg-blue-500;
    }
    &.success{
        @apply bg-green-500;
    }
    &.warning{
        @apply bg-yellow-400;
    }
}


.border-section {
    @apply border-b border-gray-400 pb-5 mt-4 mb-2;
}