{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <title>{% block page_title %}{% endblock page_title %} | Nbnb</title>
</head>
<body class="text-gray-800 mt-16 font-light">
    {% include 'partials/messages.html' %}
    <header class="container max-w-full inset-0 flex items-center justify-between px-3 h-14 border-b broder-gray-400 fixed bg-white">
        
        <div class="flex items-center w-full md:w-2/3">

            <a href='{% url "core:home" %}' class="mr-4">
                <img class="w-11" src="{% static 'img/logo.png' %}" /> 
            </a>

            {% block search-bar %}
            <form method="get" action="{% url "rooms:search" %}" class="w-5/6 flex items-center mt-2 md:w-3/4">
                <input class="search-box border text-sm font-medium placeholder-gray-400 focus:outline:none px-4 py-2 rounded-md w-full shadow-sm hover:shadow-md" name = "city" placeholder="Search by City">
                <button class="justify-end -ml-10">
                    <i class="fas fa-search text-gray-600 w-10 mb-3"></i>
                </button>
            </form>
            {% endblock search-bar %}

        </div>
        <div class="hidden md:inline w-1/5 pr-2">
        {% include "partials/nav.html" %}
        </div>
    </header>

    {% block content %}{% endblock %}
    
    {% include 'partials/footer.html' %}
</body>
<div class="border-t flex bg-white md:hidden w-full h-12 bottom-0 fixed">
    {% include "partials/nav.html" %}
</div>
</html>