{% extends 'base.html' %}
{% load static i18n %}


{% block page_name %}
    Home
{% endblock page_name %}


{% block content %}

    <div class="container mx-auto">

        <div class="container mx-auto bg-gray-800 h-50vh my-24 bg-cover bg-center md:rounded-xl" style="background-image:url({% static 'img/background_sample.jpg' %});">

        </div>
        <div class="flex flex-wrap w-full">
            {% for room  in  rooms %}
                {% include 'mixins/room_card.html' with room=room %}
            {% endfor %}
        </div>

        <div class="flex items-center mx-auto container justify-center pb-8">
            {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}"><i class="fas fa-chevron-left text-sm md:text-md"></i></a>
            {% endif %}
            
            <span class="mx-6 text-sm md:text-md">
                
                {% blocktrans with current_page=page_obj.number total_pages=page_obj.paginator.num_pages %}Page {{current_page}} of {{total_pages}}{% endblocktrans %}
                
            </span>
            
            {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}"><i class="fas fa-chevron-right text-sm md:text-md"></i></a>
            {% endif %}
        </div>

    </div>

{% endblock content %}
    